* {
  margin: 2px 0;
  padding: 0;
}

.wrapper {
  max-width: 720px;
  padding: 0 15px;
  margin: auto;
}
.wrapper h1 {
  text-align: center;
}
.wrapper p {
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}
.wrapper .form {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}
.wrapper .form * {
  width: 100%;
}